<tr class=" border hover:bg-gray-50 transition">

  <td class="flex px-2  items-center py-3 space-x-6">
      <%= button_to add_line_item_line_item_path(line_item),
            method: :patch,
            data: { turbo_stream: true },
            class: "inline-block px-2 py-1 bg-green-600 hover:bg-green-700 text-white rounded shadow-sm" do %>
          +
      <% end %>

      <span class="px-3 font-semibold text-gray-700">
        <%= line_item.quantity %>
      </span>

      <%= button_to remove_line_item_line_item_path(line_item),
            method: :patch,
            data: { turbo_stream: true },
            class: "inline-block px-2 py-1 bg-red-600 hover:bg-red-700 text-white rounded shadow-sm" do %>
          -
      <% end %>
  </td>

  <td class="font-medium border px-2 py-2 text-gray-800">
    <%= line_item.product.title %>
  </td>

  <td class="text-right px-2  font-bold py-2 text-gray-900">
    <%= number_to_currency(line_item.total_price) %>
  </td>

</tr>
