<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>
</head>

<body>
  <header class="bg-green-700 flex items-center px-4 py-2">
    <a href="/"><%= image_tag "logo.png", alt: "The Pragmatic Bookshelf", width: "100px" %>
    <h1 class="text-white text-2xl ml-4"><%= @page_title %></h1></a>
  </header>

  <section class="flex">
   <nav class="bg-green-700 p-6">
    <%= render partial: 'layouts/cart', locals: {cart:@cart} %> 
    </nav>

    <main class="container mx-auto mt-4 px-5 flex">
      <%= yield %>
    </main>
  </section>
</body>
</html>
